@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

h1 {
  font-family: "Press Start 2P";
  font-size: 6rem;
  font-bold: 2rem;
}

.subtitle {
  width: 4rem;
  padding-right: 16rem;
}

.image-sticker,
.image-computer {
  display: block;
  width: 20rem;
  height: 18rem;
  margin-bottom: -80px;
}
.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 30rem;
  align-items: center;

  justify-content: center;

  margin: 2rem;
  background-color: #fafafa;
  padding: 5rem;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.image-computer {
  animation: wiggle 1s infinite;
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 10));
  }
}

/* Slider */
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.container {
  position: relative;
}

.slider-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 10));
  }
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  display: flex;
  width: calc(250px * 10);
  animation: scroll 40s linear infinite;
}

.slide {
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #ccc;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.slide:active {
  transform: scale(0.95);
}

#years-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.year {
  display: none;
  margin: 20px;
  font-family: "IBM Plex Mono";
}

.year.show {
  display: block;
}

.year h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "IBM Plex Mono";
}

.speaker-search {
  border: 2px solid #000;
  background-color: #f5f5f5;
  color: #000;
  padding: 10px 15px;
  font-size: 16px;
  font-family: "Courier New", monospace;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom:1rem;
  margin-top:1rem;
}

.speaker-search:focus {
  outline: none;
  border-color: #333;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.speakers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.year-column {
  border: 1px solid #ccc; /* Add a border around each column */
  padding: 10px; /* Add some padding to each column */
}
.speaker-card {
  border: 1px solid #ccc;
  padding: 10px;
}

.speaker-info {
  text-align: center;
}

.speaker-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.speaker-name {
  font-weight: 800;
  font-family: "IBM Plex Mono";
}

.speaker-country {
  font-weight: 200;
  font-family: "IBM Plex Mono";
}

.speaker-link {
  text-align: center;
  font-family: "IBM Plex Mono";
}

.speaker-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 5px;
}

.speaker-button:hover {
  background-color: #0056b3;
}
