@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --font-family-primary: "Press Start 2P", cursive;
  --font-family-secondary: "IBM Plex Mono", monospace;
  --font-size-h1: 6rem;
  --font-size-h1-bold: 2rem;
  --font-size-subtitle: 4rem;
  --image-width: 20rem;
  --image-height: 19rem;
  --modal-width: 30rem;
  --slider-width: 960px;
  --border-color: #ccc;
  --primary-color: #007bff;
  --secondary-color: #0056b3;
}

h1 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-h1);
  font-weight: bold;
  margin-top: 2rem;
}

.subtitle {
  width: var(--font-size-subtitle);
  padding-right: 16rem;
}

.image-sticker,
.image-computer {
  display: block;
  width: var(--image-width);
  height: var(--image-height);
  margin-bottom: -100px;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 30rem;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  background-color: #fafafa;
  padding: 5rem;
}

.image-container {
  position: relative;
}

.conference-info {
  font-family: var(--font-family-secondary);
}

#openModalBtn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  border: 2px solid black;
  background-color: white;
  box-shadow: 10px 5px 5px grey;
  cursor: pointer;
  font-family: var(--font-family-secondary);
  font-size: 15px;
  z-index: 1;
}

#openModalBtn:hover {
  background-color: var(--primary-color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 1rem;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--border-color);
  width: var(--modal-width);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.image-computer {
  animation: wiggle 1s infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 10));
  }
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.container {
  position: relative;
}

.slider-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  display: flex;
  width: calc(250px * 10);
  animation: scroll 40s linear infinite;
}

.slide {
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #ccc;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.slide:active {
  transform: scale(0.95);
}

#years-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.year {
  display: none;
  margin: 20px;
  font-family: var(--font-family-secondary);
}

.year.show {
  display: block;
}

.year h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: var(--font-family-secondary);
}

.speaker-search {
  border: 2px solid #000;
  background-color: #f5f5f5;
  color: #000;
  padding: 10px 15px;
  font-size: 16px;
  font-family: "Courier New", monospace;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.speaker-search:focus {
  outline: none;
  border-color: #333;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.speakers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.year-column {
  border: 1px solid var(--border-color);
  padding: 10px;
}

.speaker-card {
  border: 1px solid var(--border-color);
  padding: 10px;
}

.speaker-info {
  text-align: center;
}

.speaker-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.speaker-name {
  font-weight: 800;
  font-family: var(--font-family-secondary);
}

.speaker-country {
  font-weight: 200;
  font-family: var(--font-family-secondary);
}

.speaker-link {
  text-align: center;
  font-family: var(--font-family-secondary);
}

.speaker-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 5px;
}

.speaker-button:hover {
  background-color: var(--secondary-color);
}

/* media queries */
@media (max-width: 768px) {
  header .hero {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  header .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    z-index: 1;
  }
  .slide-track {
    width: 100%; /* Set width to 100% to prevent overflow */
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
  }
  .slider-container {
    overflow-x: auto;
  }

  .image-sticker,
  .image-computer {
    margin-top: -4rem;
  }

  .modal {
    margin-top: 0.5rem;
    width: 100%;
  }

  .modal-content {
    width: 90%;
    max-width: 300px;
  }
}

@media (min-width: 1024px) {
  .slider {
    width: var(--slider-width);
  }

  .slider-container {
    width: 100%;
  }
}
